/** This is a master css file for eexcess pages
    all pages should include first this css, and then
    their own. The base color for the scheme design is #1d904e 
    This file should not contain definitions below class level.
*/

body,html {
    height:100%;
    margin:0;
    padding:0;
    overflow: hidden;
    font-family: Lucida, Lucida Grande, Verdana,Arial,sans-serif;
}

body {
    background-image: url('../watermark.png');
    background-size: auto 95%;
    font-size:0.7em;
    background-repeat: no-repeat;
    background-position: top;
}

body a{
    text-decoration:none;
    color: #529CBF;
	
}

header {
    /*margin-top:30px; width:500px;*/ 
    background:white; 
    margin-left:auto; 
    margin-right:auto; 
    /*padding-bottom:20px;*/ 
    padding-bottom: 35px;   
}

/*ceci*/
header #eexcess_searchForm{
    width: 70%;
}

/*ceci*/
fieldset {
    /*margin:auto;*/
    border:none;

    padding-left: 0.3em;
    padding-right: 0.7em;
    width: 98%;
}

/*ceci*/
header #eexcess_query{
    width: 70%;

}

header .searchfield{
    background-color: white;/*494949;*/
    color:#008746;
    font-weight:regular;
	    font-size:1em;
		height: 20px;
		margin-top: 0.2em;
		    border:none;

    padding-left: 0.3em;
    padding-right: 0.7em;
    width: 98%;
    border: solid #cdcfd2 1px;
   -moz-box-shadow:    inset 4px 4px 6px -6px #666666;
   -webkit-box-shadow: inset 4px 4px 6px -6px #666666;
   box-shadow:         inset 4px 4px 6px -6px #666666;
}


header .eexcess_submit_btn{
    background-color: white;/*494949;*/
    color:#008746;
    font-weight:regular;
    height:16px;
	    font-size:1em;
    border: solid #cdcfd2 1px;
   -moz-box-shadow:    inset 4px 4px 6px -6px #666666;
   -webkit-box-shadow: inset 4px 4px 6px -6px #666666;
   box-shadow:         inset 4px 4px 6px -6px #666666;
}

header .eexcess_submit_btn:hover{
    box-shadow: -0.1em 0.1em 0.1em green, 0.1em 0.1em 0.1em green, 0.1em -0.1em 0.1em green, -0.1em -0.1em 0.1em green;
	
}

/*ceci*/
header nav{
    right:7px;
}



header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav li {
    padding-left: 3px; /*ceci*/
    float: left;
}


/*ceci*/
header nav li a{
    width: 1.4em;
    height: 1.4em;
}

/*ceci*/
header nav li a img {
    /*	box-shadow: -0.1em 0.1em #70C896, 0.1em 0.1em #70C896, 0.1em -0.1em #70C896, -0.1em -0.1em #70C896; */
}

/*ceci*/
header nav li a img:hover {
    box-shadow: -0.1em 0.1em 0.1em green, 0.1em 0.1em 0.1em green, 0.1em -0.1em 0.1em green, -0.1em -0.1em 0.1em green;
    /*box-shadow: -0.1em 0.1em yellow, 0.1em 0.1em yellow, 0.1em -0.1em yellow, -0.1em -0.1em yellow;*/
}




.scrollable {
    height: 100%;
    overflow: auto;
}


footer a{
    text-decoration:none;
    color: #1d904e;
}

.ui-dialog {
    font-size: 0.8em;
}

.block_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.block_list li {
    padding-left: 5px;
    padding-top: 2px;

    background: rgba(255,255,255,0.4);
    border-bottom: 1px dotted #e6e6e6;
}

.block_list li:hover{
    background: rgba(29,144,78,0.2);
}

.buttons-bottom img {
    vertical-align: middle;
}

#eexcess_powered_by{
    margin: auto;
    text-align: right;
}

#eexcess_powered_by img{
    height:15px;
}
