
select {
    border: 0.1em #ddd solid;
    border-radius: 0em;
    color: #444;
}


button {
    background: -webkit-linear-gradient(top, rgba( 61,175, 111,1), rgba( 31,145, 81,1));
    border: 0.1em solid rgba( 51,165, 101,1);
    box-shadow: 0em 0.1em .1em #999;
    color: white;
}


/*
    Hover style for all buttons
*/
button:hover {
    box-shadow: 0 0 0.5em #555;
    background: -webkit-linear-gradient(top, rgba( 31,145, 81,1), rgba( 1,115, 51,1));
    border: 0.1em solid rgba( 1,115, 51,1);
}



/*
 *   DROPDOWN LIST
 */

.wrapper-dropdown span {

}


.wrapper-dropdown:after {          /* Little arrow */
    border-width: 6px 6px 0px 6px;;
    border-style: solid;
    border-color: rgba( 61,175, 111,1) transparent transparent;
}

.wrapper-dropdown .dropdown {       /*ul*/
    background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.wrapper-dropdown .dropdown li a {
    color: #333;
    transition: all 0.3s ease-out;
}


/* Hover state */
.wrapper-dropdown .dropdown li:hover a {
    color: #57a9d9;
}

/* Active state */
.wrapper-dropdown.active {
    background: rgba( 61,175, 111,1);
    border-radius: 0.5em 0.5em 0 0;
    color: white;
}

.wrapper-dropdown.active:after {
    border-color: #fff transparent;
    border-width: 0px 6px 6px 6px;
}

.wrapper-dropdown.active .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}





/********************************************************************************************************************************************

    Header panel (top of screen)

********************************************************************************************************************************************/


/*
    Div wrapping the whole header (green bar on the top of the iFrame)
*/
#eexcess_header {
    background-color: rgba(241, 241, 230, 1);
    border: solid 0.1em rgba( 31,145, 81,1);
    box-shadow: 0.1em .1em .5em #555;
}


/*
    <span> inside #eexcess_header_search
    Displays message like "Query Results : xx"
*/
#eexcess_header_text {
    color: rgba( 31,145, 81,1);
    text-shadow: 0em .1em #ccc;
}




/*
    <input> field text on left upper corner of screen
*/
.eexcess_query_field {
    border-radius: 0em;
}



/********************************************************************************************************************************************

        Main Containers

********************************************************************************************************************************************/



/*
    <div> containinig "#eexcess_controls" (left) and "#eexcess_vis_panel" (center). the first one holds the control Panel and the latter the visualization Panel
*/
#eexcess_vis {
    border-radius: 0em;
}


/********************************************************************************************************************************************

    Control Panel (left of screen)

********************************************************************************************************************************************/

/*
    Main panel (div) on the left side (green)

*/
#eexcess_controls {
    background-color: rgba(241, 241, 230, 1);
    border: solid 0.1em rgba( 31,145, 81,1);
    border-radius: 0em;
    box-shadow: 0.1em .1em 1em #555;
}




/*
    Class for <span> elements labelling the <select> elements
*/
.eexcess_controls_title {
    color: rgba( 31,145, 81,1);
    text-shadow: 0em 0.1em #ccc;
}


/*
    All <select> elements
*/
#eexcess_select_chart,
.eexcess_select {
    background: -webkit-linear-gradient(top,#f5f5f5, #fff , #f5f5f5);
    box-shadow: 0em 0.1em .1em #999;
}

/*
    Hover effect for all <select>
*/
#eexcess_select_chart:hover,
.eexcess_select:hover {
	background: -webkit-linear-gradient(top, rgba( 41,155, 91,1), rgba( 61,175, 111,1), rgba( 41,155, 91,1));
    border: 0.1em rgba( 31,145, 81,1) solid;
    color: #fff;
}


#eexcess_select_chart > option,
.eexcess_select > option {
    color: #666;
}




/********************************************************************************************************************************************

Visualization Panel (center of screen)

********************************************************************************************************************************************/

/*
    Wraps 2 <div> elements: "#eexcess_vis_controls_wrapper" (lower green bar on upper side) and "#eexcess_canvas" (center)
*/
#eexcess_vis_panel {
    background-color: white;
    box-shadow: 0.1em .1em 1em #555;
    border: solid 0.1em rgba( 31,145, 81,1);
}




/********************************************************************************************************************************************

    Content List Panel (right side of screen)

********************************************************************************************************************************************/



/*
    <li> items in "#eexcess_content ul". Each <li> wraps 2 container <div>s: ".eexcess_item_ctl" and ".eexcess_ritem_container"
*/
.eexcess_list {
    background: -webkit-linear-gradient(top, white 75%, rgba(241, 241, 230, 1));
    border: solid 0.1em rgba( 31,145, 81,1);
    border-radius: 0em;
    box-shadow: 0.1em .1em 1em #555;
}


/*
    <li> itmes' hover style
*/
.eexcess_list:hover {
	background: -webkit-linear-gradient(top, rgba( 31,145, 81,.3) 75%, rgba( 31,145, 81,.5));
}




/*
    Partner icon
*/
.eexcess_partner_icon {
	border-radius: 0.2em;
}


/*
    Color icon
*/
.color_icon {
    border-radius: 0.2em;
}



/********************************************************************************************************************************************

    Bookmark addition panel (appears on favicon clicked)

********************************************************************************************************************************************/


#eexcess-bookmark-dialog {
    background-color: rgba(241, 241, 230, 1);
    border-radius: 0em;
    box-shadow: .5em .5em 1.5em #222, -.5em 0em 1.5em #222;
}


#eexcess-bookmark-dialog span {
    color: #1f6080;
}


#eexcess-bookmark-dialog-title {
    color: #114a66 !important;
}



.eexcess-bookmark-dropdown-list-icon {
    background-color: #fff;
    border-radius: 0em;
}



/* Color picker */
#eexcess-bookmak-dialog-color-picker {
  border-radius: 0em;
}



#eexcess-bookmark-dialog-new-options input {
	background-color: white;
	border: 0.1em #ddd solid;
	border-radius: 0em;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    color: #444;
}








