

select {
	background-color: white;
	border: 0.1em #ddd solid;
	border-radius: 0.5em;
    color: #666;
}


input[type="button"] {
    background: -webkit-linear-gradient(top, #eee, #ddd);
    background: linear-gradient(top, #eee, #ddd, #eee);
    border: 0.1em solid #ddd;
    border-radius: 0.5em;
    box-shadow: 0em 0.1em .1em #999;
    color: #aaa;
    text-shadow: 0em 0.1em #fff;
}


/*
    Hover style for all buttons
*/
input[type="button"]:hover {
    background: -webkit-linear-gradient(top, #eee, #ccc);
    border: 0.1em solid #ccc;
}



/********************************************************************************************************************************************

    DROP-DOWN LIST

********************************************************************************************************************************************/

.wrapper-dropdown {
    border-radius: 0.5em;
}


.wrapper-dropdown span {
    color: #1f6080 !important;
}


.wrapper-dropdown:after {          /* Little arrow */
    border-width: 6px 6px 0px 6px;;
    border-style: solid;
    border-color: #ddd transparent transparent;
}


.dropdown-list-icon {
    border-radius: 0.3em;
}


.wrapper-dropdown .dropdown {       /*ul*/
    border-radius: 0 0 0.5em 0.5em;
}



/* Active state */
.wrapper-dropdown.active {
    background: -webkit-linear-gradient(top, #eee, #ddd);
    border-radius: 0.5em 0.5em 0 0;
}

.wrapper-dropdown.active span {
    color: #aaa !important;
}


/********************************************************************************************************************************************

    ACCORDION

********************************************************************************************************************************************/


.accordion-header {
    background: whitesmoke;
    border-radius: 0.5em;
}


.accordion-header span {
    color: #1f6080 !important;
}


.accordion-header:after {          /* Little arrow */
    border-width: 6px 6px 0px 6px;;
    border-style: solid;
    border-color: #ddd transparent transparent;
}


.accordion-header-color-icon {
    background-color: #fff;
    border-radius: 0.3em;
}

.accordion-content {
    border-radius: 0 0 0.5em 0.5em;
}



/* Active state */
.accordion-header.active {
    background: -webkit-linear-gradient(top, #eee, #ddd);
    border-radius: 0.5em 0.5em 0 0;
}


.accordion-header.active span {
    color: #aaa !important;
}


/********************************************************************************************************************************************

    Header panel (top of screen)

********************************************************************************************************************************************/


/*
    Div wrapping the whole header (green bar on the top of the iFrame)
*/
#eexcess_header {
    background-color: rgba(125,189,153,1);
    border-radius: .8em;
}




/*
    <span> inside #eexcess_header_search
    Displays message like "Query Results : xx"
*/
#eexcess_header_text {
    color: #ffffff;
    text-shadow: 0em 0.1em #555;
}



/*
    <input> field text on left upper corner of screen
*/
.eexcess_query_field {
    border-radius: 0.4em;
}




/********************************************************************************************************************************************

        Main Containers

********************************************************************************************************************************************/



/*
    <div> containinig "#eexcess_controls" (left) and "#eexcess_vis_panel" (center). the first one holds the control Panel and the latter the visualization Panel
*/
#eexcess_vis{
    background-color: whitesmoke;
    border-radius:10px 10px 10px 10px;
}


/********************************************************************************************************************************************

    Control Panel (left of screen)

********************************************************************************************************************************************/

/*
    Main panel (div) on the left side (green)

*/
#eexcess_controls {
    background-color: rgba(125,189,153,1);
    border-radius: .8em;
}


/*
    div on the upper side of #eexcess_controls.
    Wraps #eexcess_controls_chart and #eexcess_controls_chart, which enclose pairs  of span-select DOM elements

*/
#eexcess_fixed_controls{
	border-bottom: 1px solid rgba(255,255,255,0.7);
}



/*
    Class for <span> elements labelling the <select> elements
*/
.eexcess_controls_title {
    text-shadow: 0em 0.1em #555;
    color: white;
}


#eexcess_select_chart,
.eexcess_select {
    background: -webkit-linear-gradient(top, #fff, #f0f0f0);
    box-shadow: 0em 0.1em .1em #999;
}

/*
    Hover effect for all <select>
*/
#eexcess_select_chart:hover,
.eexcess_select:hover {
	background: -webkit-linear-gradient(top, #eee 75%, #e0e0e0);
}


#eexcess_select_chart > option,
.eexcess_select > option {
    color: #666;
}


.eexcess_controls_facet_static {
    background: -webkit-linear-gradient(top, #fff, #f0f0f0);
    border: 0.1em #ddd solid;
    border-radius: 0.4em;
    color: #555;
    box-shadow: 0em 0.1em .1em #999;
}



/********************************************************************************************************************************************

Visualization Panel (center of screen)

********************************************************************************************************************************************/

/*
    Wraps 2 <div> elements: "#eexcess_vis_controls_wrapper" (lower green bar on upper side) and "#eexcess_canvas" (center)
*/
#eexcess_vis_panel {

}




/********************************************************************************************************************************************

    Content List Panel (right side of screen)

********************************************************************************************************************************************/



/*
    <li> items in "#eexcess_content ul". Each <li> wraps 2 container <div>s: ".eexcess_item_ctl" and ".eexcess_ritem_container"
*/
.eexcess_list {
    background: -webkit-linear-gradient(top, whitesmoke 75%, #DDD);
    border: 1px solid #ddd;
    border-radius: 0.4em;
    -webkit-box-shadow: 0.2em 0.1em 0.5em rgba(119, 136, 153, 0.7);
    box-shadow: 0.2em 0.1em 0.5em rgba(119, 136, 153, 0.7);
}


/*
    <li> itmes' hover style
*/
.eexcess_list:hover {
	background: -webkit-linear-gradient(top, rgba(49, 164, 98, 0.3) 75%, rgba(29, 144, 78, 0.5));
    border: solid 0.1em rgba(29, 144, 78, 0.5);
}




/*
    Partner icon
*/
.eexcess_partner_icon {
	border-radius: 0.2em;
}


/*
    Color icon
*/
.color_icon {
    border-radius: 0.2em;
}




/********************************************************************************************************************************************

    Bookmark addition panel (appears on favicon clicked)

********************************************************************************************************************************************/


.eexcess-bookmark-dialog {
    background-color: rgba(161,210,182,1);
    border-radius: 1em;
    box-shadow: -.3em .3em 1.5em #222;
}


.eexcess-bookmark-dialog span {
    color: #fff;
}


.eexcess-bookmark-dialog-title {
    color: #eee !important;
}


.eexcess-bookmark-dropdown-list-icon {
    background-color: #fff;
    border-radius: 0.3em;
}


/* Color picker */
#eexcess-bookmak-dialog-color-picker {
    border-radius: 0.6em;
}


.eexcess-bookmark-dialog-input-wrapper input {
	border-radius: 0.5em;
}


.eexcess-bookmark-bookmarked-in {
    background: rgba(231, 231, 220, 1);
    border: .1em solid rgba(151, 200, 172, 1);
    border-radius: 0.5em;
}

.eexcess-bookmark-color-icon {
    background-color: rgba(170,220,192,1);
    border-radius: 0.3em;
}





