/* css file for the widget displayed at the right border of a page */

#eexcess_searchForm {
    float:left;
}

nav {
    float:right;
    position:relative;
    top:9px;
    right:10px;
}

#eexcess_content {
    clear:both;
}

.header_sidebar {
    border:none; 
    background: transparent; 

}

.content_sidebar {
    margin-left:auto; margin-right:auto;
    height: 300px;
	border-top: 1px solid #dbdbdb;
    overflow-y: auto;
    height:82%;
}

.footer_sidebar {
	border-top: 1px solid #dbdbdb;
	padding: 0.8em;
}

#search_hover {
    display:none;
    border:1px solid #dbdbdb;
    position:absolute;
    top:30px;
    width:96%;
    background-color: white;
    z-index: 9999;
    padding:0.5em;
}

