/*css for graph ??????????????*/
/*
rect {

	fill:none;
	stroke: #999;
	
  
  fill: none;
 
  pointer-events: all;
}
 */
/*
.node {
  fill: #000;
}

.link {
  stroke: #999;
}
*/

body {
    background-image: url('../../media/watermark.png');
    background-size: auto 100%;
}
/*css for index.html*/
.eexcess_vis{
/*
    margin-left:10%;
    margin-top: 5px;
	
    margin-bottom: 5px;
	*/
/*
    width:80%;

    height:400px;
	*/
    border-radius:10px 10px 10px 10px; 
	border:2px solid #1d904e;
	background-color: rgba(255,255,255,0.75);
	
}

#graph_header{
	padding-bottom: 0px;
}

.green_round_box{
	border-radius:5px 5px 5px 5px; 
	border:2px solid #1d904e;
	background-color: rgba(255,255,255,0.75);
	padding: 2px;
}

.grey_round_box{
	border-radius:3px 3px 3px 3px; 
	border:1px solid gray;
	margin:1px;
	padding:1px;
}

.margin_box{
	margin:4px;
}
.type_bold{
	font-weight: bold;
}

.bookmark_box{
	margin:1px;
}
.searchmodus{
	outline: green solid 2px;
}

/* css for expander control*/
/*old ??*/
.expanderControl{
    border:1px solid lightgrey;
    border-radius:2px 2px 2px 2px; 
    margin:2px;
}

.expanderhead{
    
    /*border:1px solid lightgrey;*/
    border-radius:2px 2px 2px 2px; 
    
    margin:1px;
    padding:2px;
}

.expanderbutton{
    border:1px solid grey;
    border-radius:2px 2px 2px 2px; 
    margin:0px;1px;0px;1px;
    padding:1px;
}

.expandertext{
    /*
    border:1px solid;
    border-radius:2px 2px 2px 2px; 
    */
    margin:2px;
}

.expanderbody{
    /*border:1px solid lightgrey;*/
    border-radius:2px 2px 2px 2px; 
    padding:2px;
}

/*css for slider control*/
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.brush .extent{
/*
  fill-opacity: .125;
  */
  fill-opacity: 0.7;/*.5;*/
  
  fill:url(#redblue);/*green;*/
  
  shape-rendering: crispEdges;
}

/*css booknark control*/

#message{
/*
	border:1px solid green;
	*/
	height:15px;

}

#bookmark-header{
	height:70px;
	/*
	border:1px solid green;
	*/
}
#bookmark-body{
/*
	border:1px solid red;
	height:340px;
	*/
	overflow-y:auto;
}

.deletebookmark, .expanderbookmark{
	width:22px;    
	height:22px;
	margin:2px;
}


input[type=color]{
	width:20px;    
	height:16px; 
	margin:2px;
}
