/** This is a master css file for eexcess pages
    all pages should include first this css, and then
    their own. The base color for the scheme design is #1d904e */

body,html {
    height:100%;


    margin:0;
    padding:0;
    overflow: hidden;
    font-family: Lucida, Lucida Grande; Verdana,Arial,sans-serif;
}

body {
    background-image: url('media/watermark.png');
    background-size: auto 100%;
}

header {
    /*margin-top:30px; width:500px;*/ background:white; margin-left:auto; margin-right:auto; border-radius:10px 10px 0px 0px; border:1px solid #ccc; ;/*padding-bottom:20px;*/ -webkit-box-shadow:0 0 10px #cdc; 

}

header .eexcess_submit_btn{
    background-color: #0A3B53;/*494949;*/
    color:#ffffff;
    
    font-weight:bold;
    height:22px;
    border: solid #70C896 1px;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav li {
    padding-left: 5px;
}

#eexcess_main{
background: #1d904e; padding-bottom: 30px;    
}


#eexcess_content{
/*background: #1d904e; width:500px;*/

margin-left:auto; margin-right:auto;
}

#eexcess_content a{
    text-decoration:none;
    color: #529CBF;
}

#eexcess_content ul{

}

#eexcess_content ul li{
margin-left:5px;
margin-right:5px;
background: rgba(255,255,255,0.7);
border-bottom: 1px dotted green;
}


#eexcess_content ul li:hover{
    border: 2px solid #E4A55C;
}

#eexcess_previewIMG{
    float:left;
}

footer {

}

footer a{
    text-decoration:none;
    color: #E4785C;
}

#eexcess_privacy{
    float:left;
}

#eexcess_powered_by{
    float:right;
}