.urank #eexcess_vis_panel {
    width:calc(100% - 351px - 200px);
}
.urank #eexcess_content{
  	width:351px;
}

#tagCloudCooserContainer {
	border: 1px solid #e4e4e4;	
	padding: 7px 0;
	text-align: left; 
}

#tagCloudCooserContainer input[type="radio"] {
    margin-top: 0;
    vertical-align: middle;
}

.urank #eexcess_ranking_controls {
	display: inline-block;
	float:left;
    width: 200px;
    height:50px;
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1), rgba(230, 230, 230, 1));
    box-shadow: inset .1em .1em .5em #ccc, inset -.1em -.1em .5em #ccc;
}
	.urank #eexcess_ranking_controls button {		
		height: 26px;
		width: 34px;
		margin: 8px 4px;
		padding: 4px 8px;
		border-radius: 12px;
	}

		.urank #eexcess_ranking_controls button img {
		    width: 100%;
		    height: 100%;
		}



.urank #eexcess_keywords_box {
	overflow-x: hidden;
    overflow-y: auto;
    display: inline-block;  
    float:left;
    width: calc(100% - 200px);
    height:50px;
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(top, rgba(245, 245, 245, 1), rgba(230, 230, 230, 1));
    list-style-type: none;
    text-align: left;
    box-shadow: inset .1em .1em .5em #ccc, inset -.1em -.1em .5em #ccc;
}

.urank #eexcess_canvas{	

	width: calc(100% - 231px);
	height: calc(100% - 55px);
	overflow-y: auto;
	overflow-x: hidden;
	display: inline-block;
	float:left;
}
	.urank #urank_canvas_inner{	
		/* width:calc(100% - 281px) */
		height: 100%;		
    	/*float:left;*/
	}


.urank #eexcess_keywords_container {
    overflow-y: auto;
    width:218px;    
    padding:5px;
    background: white;
    border:1px solid #e4e4e4;
    display:inline-block;
    float:left;
}
	.urank .eexcess_keyword_tag{
		display: inline-block;
		pointer-events: all;
		margin: 0.2em;
		padding: 0.3em;
		border: 0.1em #222 solid;
		-webkit-border-radius: 0.3em;
	    border-radius: 0.3em;
		-webkit-box-shadow: 0em 0.1em 0.3em -0.1em #888;
	    box-shadow: 0em 0.1em 0.3em -0.1em #888;
	    color: #111;
	    text-shadow: -0.1em 0.1em 0.5em #eee;
		opacity: 1.0;
		cursor: move;
	}

	.urank .eexcess_keyword_tag:hover {
		color: #eee;
	    text-shadow: none;
	}




.eexcess_keyword_tag_in_box{
	cursor: default;
	display: inline-block;
	text-align: left;
	min-width: 14%;
    height: 2em;
	margin: 0.8em .3em 0.2em 0.3em;
    padding: .2em;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-webkit-box-shadow: 0em 7px 6px -6px #333;
    box-shadow: 0em 7px 6px -6px #333;
    -webkit-text-shadow: -0.1em 0.1em 0.5em #eee;
    text-shadow: -0.1em 0.1em 0.5em #eee;

}

.urank .eexcess_keyword_tag_in_box:hover {
    box-shadow: 2px 2px 5px #555, -2px -2px 5px #555;
}


.urank .eexcess_keyword_tag_in_box > text {
	opacity: 0.5;
}

.eexcess_result_list_outer.urank-list-container{
	width: 430px;
}
.urank .urank-list-ul {

	margin: 0;
	padding-bottom: 1px;
	/*float:left;*/
}

.urank .urank-list-li {
    padding: .1em;
    border: 1px solid rgba(119, 136, 153, 0.8);
}
	.urank li.urank-list-li  {
		min-height:0px;
		padding: 0;
		margin: 0;
	}
	.urank .urank-list-li h3 {
	    margin:0;
	    line-height: 12px;
	    font-weight: normal;
	}
	.urank .urank-list-li a {
	    /*font-size:12px;
	}


.urank .eexcess_favicon_section {
	display: inline-flex;
	float: right;
	width: 16px;
	margin-right: 2px;
	vertical-align: top;
	}

.urank .eexcess_ranking_container {
    display: inline-block;
    float: left;
    height: 100%;
    max-width: 55px;
    padding-left: 1px;
}
.urank .eexcess_ritem_container {
    display: inline-flex;
    align-items: center;
    width: calc(100% - 78px);
    height: 100%;
    margin-left: 2px;
    vertical-align: top;
    text-align: left;
}


.urank .eexcess_tag_img {
	position: relative;
	float: right;
	right: -1.3em;
	top: -1.1em;
	z-index: 8040;
	width: 1.7em;
	height: 1.4em;
	cursor: pointer;
}

.urank .ui-slider-horizontal {
	height: .5em;
	margin: .1em;
}
.urank .ui-widget {
	font-size: 1em;
}


.light_background {
    background: #eee;
}

.dark_background {
    background: #ddd;
}


#eexcess_header{
	background: none;
}
/*.urank  .urank-list-container{
	width:inherit;
}*