ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px 0px 2.3em 0px;
  width: 400px;
}

ul li {
  background-repeat: no-repeat;
  background-position: 5px 5px; 
  padding-top: 5px;
  padding-left: 50px;
  min-height: 3em;
}


ul li:nth-child(odd) {
  background-color: #EFEFEF;
}

ul li:hover {
  background-color: #1d904e;
}

#list_trace {
  text-align: center;
  width: 100%;
}

.mendeley {
  background-image: url(http://www.mendeley.com/graphics/favicon.ico);
}

.econbiz {
  background-image: url(http://www.econbiz.de/favicon.ico);
}

body  {
   position: relative;
}

.footer {
  bottom: 5px;
  right: 15px;
  text-align: right;
  font-family: sans-serif;
  font-size: smaller;
}

.footer_popup {
  position: absolute;
  bottom: 5px;
  right: 15px;
  text-align: right;
  font-family: sans-serif;
  font-size: smaller;
}

.info {
  font-family: sans-serif;
  font-size: smaller;
}

