#recommendationDisplay{
	height:40%;
	display:block;
	overflow:auto;
	//padding-right: 10px;
	
}
#results{
 
}

#recommendationDisplay ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px 0px 2.3em 0px;
  width: 440px;
}

#recommendationDisplay ul li {
  background-repeat: no-repeat;
  background-position: 5px 5px; 
  padding-top: 5px;
  padding-left: 50px;
  min-height: 3em;
  color: #34495e;
  
}

#recommendationDisplay ul li a {
	color: #34495e;
}

#recommendationDisplay ul li:nth-child(odd) {
  background-color: #1d904e;
  color: #34495e;
}

#recommendationDisplay ul li:nth-child(odd) a {
  color: #34495e;
}

#recommendationDisplay ul li:hover {
  background-color: #ffffff;
}

#recommendationDisplay #list_trace {
  text-align: center;
  width: 100%;
}


#recommendationBlock{
   background-color: #ffffff !important;
}




::-webkit-scrollbar {
      width: 15px;
}
/* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
      background-color: #1d904e;
      border: solid 0 transparent;
	border-right-width: 4px;
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 9px 5px;
	-webkit-border-bottom-right-radius: 9px 5px;
	
} /* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
      background-color:rgba(0, 0, 0, 0);
  
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-corner {
      background-color: black;

}

.querySandbox{
  width: 374;
  margin-left: 25;
  font-size:75%;
}
.resultsTitle{
	background-color:ffffff !important;
	display: inline;
	margin-right: 25px;
}

#sandboxSubmitButton{
	display:block !important;
	margin-top: 15%;
	

}

.headerTraces h1{
	display:block !important;
	margin-bottom:5%;
}

#privacySettingsHeader{
	height:12%;
}

.toggle{
	//display:inline !important;
	//margin-top: 30px !important;
	height: 0.2%;
	float:right;
	margin-top: -25px;
}

.fullInfo{
	font-size:75%;
	color: #34495e;
}


.effective_data{
	font-size:0.85em;
}

.switch-left{
  background-color: #fff !important;
}
.has-switch label{
  border-color: #fff !important;
}
.has-switch > div.switch-off label { 
  border-color: #bdc3c7 !important;
}

#sliderUserTrace{
  background-color: #DCC7A1;
  padding-right: 10px;
  padding-left: 5px;
}

#sliderUserTrace div {
	padding: 0 0 0 0;
}
