#eexcess_widget{
 display:none;
 position:fixed;
 top:0px;
 margin:0;
 padding:0;
 right:0px;
 width:348px;
 height:100%;
 border:0px; 
 z-index:999;
 background-color:white;
 font-size:11pt;
 font-family:Helvetica;
}