body,html {
    height:100%;
 margin:0;
 padding:0;
 overflow: hidden;
 font-family: Verdana,Arial,sans-serif;
}

body {
    background-image: url('../media/EEXCESS__Logo_RGB.jpg');
    background-repeat: no-repeat;
    background-position: 97% 99%;
    background-size: 120px auto;
}

#eexcess_content {
    overflow-y: auto;
    height:80%;
}

#eexcess_widget form{
 margin-top:10px;
 margin-bottom:10px;
 padding:5px;
 text-align:center;
}

#eexcess_content form{
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

#eexcess_content fieldset {
    margin: 0;
    padding: 0;
}

#eexcess_content ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#eexcess_content li {
    padding-left: 5px;
}

#eexcess_content h1 {
    margin-bottom: 0;
    padding-bottom: 0;
}

fieldset {
 margin:auto;
 border:none;
}

#eexcess_logo{
 width:100px;
 float:right;
}

#eexcess_tab {
 position: absolute;
 top: 0;
 right: 0;
 list-style:none;
 margin:0;
 padding:0;
}

#eexcess_tab  li {
	float: left;
	border-left:none;
	border-bottom: 0;
	margin: 0;
}

#eexcess_tab li a.selected{
 background-color:white;
 border:1px solid;
 border-bottom:0;
 padding-bottom:0;
 font-size:1.1em;
}

#eexcess_tab li a {
 margin:0;
 padding:5px;
 text-decoration:none;
 color:#606060;
}

#eexcess_content {
 clear:both;
 border-top:1px solid black;
 font-size:0.8em;
}

#eexcess_results  {
 list-style:none;
}

#eexcess_close_btn {
    margin: 0;
    padding: 0;
    position: absolute;
    right:5px;
    font-size: 1.1em;
    text-decoration: none;
}


#eexcess_loading {
    text-align: center;
}

#eexcess_loading img {
    margin:auto;
}



.ui-menu-item {
    font-size: 0.6em;
}

.ui-dialog {
    font-size: 0.8em;
}

.btn {
    padding-left:5px;
    padding-top: 5px;
    position:relative;
    top:3px;
}

ul.tagit input[type="text"] {
    width:330px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

#expertise_slider {
    width: 73%;
    display:inline-block;
}

#expertise_slider a {
    outline-color: green;
}

input {
    outline-color: green;
}

select {
    outline-color: green;
}

.sliderLabel {
    position:relative;
    top:-2px;
    margin:3px;
}
#recommendations_desirable {
    position:relative;
    top:3px;
}

.tooltip:hover {
    cursor:help;
}

.resCtL {
    width: 50px;
    float: left;
}

.eexcess_previewIMG {
    width: 44px;
    height: 44px;
    margin: 2px;
}

.eexcess_resContainer {
    padding-left: 50px;
    min-height: 50px;
    padding-right:5px;
}

#eexcess_content li {
}

#eexcess_resultList li {
    padding-top: 2px;
    background-color: #f9f9f9;
    border-bottom: 1px dotted black;
    position:relative;
}

.annotator_add {
    margin-right: 10px;
}

.partner_icon {
    margin-right: 10px;
    width:16px;
    height:16px;
}

.eexcess_raty {
    margin:0;
    margin-top: 2px;
    padding:0;
    float:right;
    display:block;
    position:relative;
    z-index: 99;
}

